body{
	height: 600px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	margin: 0px;
}

a {
    text-decoration: none;
}

#finalLevelButton {
    visibility: hidden;
}

#container{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1200px;
	border: solid;
	border-width: 0.5px;
	border-color: #C0C0C0;
}

/*the intro page: first page that users see*/
#introPage{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1200px;
	visibility: visible;
	padding-bottom: 0px;
}

/*portion game screen*/
#playPage, #selectPage, #portionLesson, #portionGame, #portionQuiz, #cuttingLesson, #cuttingGame, #cuttingGame1, #cuttingQuiz{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1200px;
	visibility: hidden;
	padding-bottom: 0px;
    overflow: hidden;
}

#selectText {
    margin-left: 585px;
    margin-top: 90px;
}

.pink-bg {
    background-color: #F48571;
}
#doneLesson, #doneGame, #doneQuiz, #timeLesson, #timeGame, #timeQuiz, #mixLesson, #mixGame, #mixQuiz{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1200px;
	visibility: hidden;
	padding-bottom: 0px;
}

#playPage{
	background-color: #F48571;
}
#cuttingGame1{
}
/*introPage*/
#whiteSection{
	position: absolute;
	height: 150px;
	width: 1200px;
	top: 0px;
	margin: 0px;
	padding: 0px;
}
#pinkSection{
	position: absolute;
	height: 450px;
	width: 1200px;
	top: 150px;;
	background-color: #F48571;
    overflow: hidden;
}
#chefIntro{
    position: absolute;
    top: 50px;
    left: 100px;
    height: 550px;
}
h1{
	margin-top: 40px;
	text-align: center;
	font-weight: 400;
	font-size: 50px;
	color: #fa8231;
}
#playButton{
	width: 70px;
	position: absolute;
	top: 150px;
	left: 150px;
    background-color: white;
    color: #2C3A47;
    padding: 12px 50px;
    font-size: 20px;
}
#aboutButton{
	width: 70px;
	position: absolute;
	top: 250px;
	left: 150px;
    background-color: white;
    color: #2C3A47;
    padding: 12px 50px;
    font-size: 20px;
}



/*startPage*/
#chefStart{
    position: absolute;
    bottom: 0;
    left: 100px;
    height: 550px;
}

.decorBg{
    width: 100%;
    height: auto;
}

#chefSpeak{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 520px;
    background-color: white;
    border: none;
    color: #2C3A47;
    padding: 25px 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
#yesButton{
	background-color: #20bf6b;
	color: white;
	left: 200px;
	top: 400px;
	font-size: 18px;
}
#noButton{
    background-color: gray;
    color: black;
    left: 200px;
    top: 480px;
    font-size: 18px;
}

p{
	/*margin-top: 10px;*/
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

#ready, #time{
	margin-top: 15px;
}

.longText{
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

.button{
	width: 71px;
	position: absolute;
	top: 450px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 535px;
}
#backButton{
	width: 55px;
	position: absolute;
	top: 60px;
	left: 120px;
    background-color: #4a69bd;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
    visibility: hidden;
}
.conButton{
	width: 70px;
	position: absolute;
	top: 500px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 535px;
}
#conCuttingGame{
	visibility: hidden;
}

/*the different skills*/
.skill{
	width: 300px;
	height: 30px;
	margin-left: 670px;
	margin-right: auto;
	margin-top: 17px;
	padding: 0px 15px;
	background-color: #fff;
	border-radius: 5px;
	color: black;
	cursor: pointer;
}

.skills{
}

svg{
	position: absolute;
}

#cuttingBoard{
	cursor: url("knife.png"), auto;
}

#onion{
	position: absolute;
	top: 80px;
	left: 540px;
	cursor: url("knife.png"), auto;
}

#salt{
    position: absolute;
    top: 204px;
    left: 593px;
    width: 200px;
}
#pot{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 800px;
}

#chef_intro{
	float: left;
	margin-left: 100px;
	margin-top: 10px;
}

#portionFeedbackChef{
	position: absolute;
	top: 200px;
	left: 520px;
}
#portionFeedback{
	text-align: center;
	font-size: 20px;
}

#bar{
	position: absolute;
	width: 600px;
	height: 45px;
	background-color: #ee5253;
	margin-top: 10px;
	left: 300px;
    outline: 2px black solid;
}

#green{
	position: absolute;
	width: 36px;
	height: 45px;
	background-color: #1dd1a1;
	margin-top: 10px;
	left: 582px;
}

#line{
	position: absolute;
	width: 5px;
	height: 30px;
	background-color: white;
	margin-top: 10px;
	left: 301px;
}

.card{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
    background-color: #a29bfe;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 50px;
}
.hidden{
	display: none;
	margin-top: 15px;
}
/*cutting game*/
#cuttingHand{
	position: absolute;
	margin: 0px;
	left: -350px;
	top: 200px;
}
#meat{
	position: absolute;
	bottom: 186px;
    width: 394px;
    left: 509px;
}
#handKnife{
	position: absolute;
    height: 800px;
	top: 80px;
	left: 540px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    position: absolute;
    margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	width: 1200px;
    height: 600px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 600px; /* Could be more or less, depending on screen size */
    height: 400px;
}

#pastaGoodModalContent {
    background-color: #8CC63F;
}
/* The Close Button */
.close {
    color: #aaa;
    position: absolute;
    top: 100px;
    left: 870px;
    font-size: 58px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#tryAgain{
	margin-left: 0px;
	left: 400px;
}
#takeQuiz{
	margin-left: 0px;
	left: 700px;
}

#tryAgainGoodPasta{
    margin-left: 0px;
    left: 400px;
}
#takeQuizGoodPasta{
    margin-left: 0px;
    left: 700px;
}

/*done game*/
#doneGameEating{
    position: absolute;
    top: 121px;
    right: 280px;
    width: 350px;
}
#doneGameGood{
    position: absolute;
    top: 175px;
    left: 343px;
    width: 200px;
}

#chickenPan{
    position: absolute;
    left: 400px;
    top: 80px;
}
#meat1{
    position: absolute;
    top: 150px;
    left: 470px;
}
#meat2{
    position: absolute;
    top: 270px;
    left: 630px;
}
#meat3{
    position: absolute;
    top: 150px;
    left: 630px;
}
#meat4{
    position: absolute;
    top: 390px;
    left: 600px;
}
#meat5{
    position: absolute;
    top: 350px;
    left: 520px;
}
#meat1:hover, #meat2:hover, #meat3:hover, #meat4:hover, #meat5:hover, #chick:hover, #pastaSpaghetti:hover, #sauce:hover{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}
#potEmpty{
    position: absolute;
    left: 200px;
    top: 70px;
    width: 550px;
}
#chick{
    position: absolute;
    left: 850px;
    top: 60px
}
#onions{
    position: absolute;
    left: 850px;
    top: 240px
}
#sauce{
    position: absolute;
    left: 876px;
    top: 432px;
    width: 148px;
}
#mix:hover{
    cursor: pointer;
}

/*.meat:hover{
    border: white;
    border-width: 5px;
}*/



#potSpaghetti {
    position: absolute;
    width: 400px;
    left: 400px;
    top: 150px;
}

#resetText {
    position: absolute;
    top: 250px;
    left: 400px;
}

#pastaSpaghetti {
    position: absolute;
    width: 136px;
    left: 875px;
    top: 260px;
}


/*#firstGame,*/
#secondGame,
#thirdGame,
#fourthGame,
#fifthGame,
#sixthGame,
#seventhGame,
#eighthGame,
#ninethGame,
#tenthGame,
#eleventhGame {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1200px;
    visibility: hidden;
    padding-bottom: 0px;
    overflow: hidden;
}

#firstGame{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 1200px;
    padding-bottom: 0px;
    overflow: hidden;
}

#summaryText{
    text-align: left;
    margin-left: 600px;
    margin-top: 50px;
}

#fishImg {
    width: 200px;
}

#mixImg {
    width: 200px;
}

#chefEnd {
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 100px;

}
}