body{
	height: 600px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	margin: 0px;
}

#container{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1200px;
	border: solid;
	border-width: 0.5px;
	border-color: #C0C0C0;
}

/*the intro page: first page that users see*/
#introPage{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1200px;
	visibility: visible;
	padding-bottom: 0px;
}

/*portion game screen*/
#startPage, #portionGame, #cuttingLesson, #cuttingGame{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1200px;
	visibility: hidden;
	padding-bottom: 0px;
}

#startPage{
	background-color: #ff6b6b;
}

/*introPage*/
#pinkSection{
	height: 400px;
	background-color: #ff6b6b;
}
#chefIntro{
	position: absolute;
	top: 20px;
	left: 300px;
}
h1{
	margin-top: 60px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 50px;
	color: #eb3b5a;
}
#playButton{
	width: 70px;
	position: absolute;
	top: 100px;
	left: 150px;
    background-color: white;
    color: #eb3b5a;
    padding: 12px 50px;
    font-size: 20px;
}
#aboutButton{
	width: 70px;
	position: absolute;
	top: 200px;
	left: 150px;
    background-color: white;
    color: #eb3b5a;
    padding: 12px 50px;
    font-size: 20px;
}



/*startPage*/
#chefStart{
	position: absolute;
	top: 50px;
	left: 200px;
}
#chefSpeak{
	width: 450px;
	position: absolute;
	top: 200px;
	left: 520px;
    background-color: white;
    border: none;
    color: #eb3b5a;
    padding: 25px 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
#accept{
	background-color: white;
	color: #20bf6b;
	left: 200px;
	top: 400px;
}

p{
	/*margin-top: 10px;*/
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.longText{
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

.button{
	width: 70px;
	position: absolute;
	top: 450px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 535px;
}
.backButton{
	width: 45px;
	position: absolute;
	top: 0px;
    background-color: #4a69bd;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    left: 50px;
}

/*the different skills*/
.skill{
	width: 300px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	vertical-align: center;
	cursor: pointer;
}

.skills{
	margin-top: 40px;
}

svg{
	position: absolute;
}

#cuttingBoard{
	cursor: url("knife.png"), auto;
}

#onion{
	position: absolute;
	top: 80px;
	left: 540px;
	cursor: url("knife.png"), auto;
}

#pot{
	display: block;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

#chef_intro{
	float: left;
	margin-left: 100px;
	margin-top: 10px;
}

#chef{
	float: left;
	margin-top: -50px;
}

#bar{
	position: absolute;
	width: 600px;
	height: 45px;
	background-color: #ee5253;
	margin-top: 10px;
	left: 300px;
}

#green{
	position: absolute;
	width: 36px;
	height: 45px;
	background-color: #1dd1a1;
	margin-top: 10px;
	left: 582px;
}

#line{
	position: absolute;
	width: 5px;
	height: 30px;
	background-color: white;
	margin-top: 10px;
	left: 301px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    position: absolute;
    margin-left: auto;
	margin-right: auto;
	margin-top: -68px;
	width: 1200px;
    height: 600px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 200px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}